.sp-thongbao {
  color: red;
  margin-left: 2px; 
  display: none;
}

#SapXepGiam{
	display: none;
}

#content{
	width: 100%;
	background: #74ebd5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.myCardHeader, .myCardFooter{
	background-color: transparent;       
}
/* ***********CSS */
td .fa.fa-edit,
td .fa.fa-trash {
  color: #ff5100;
  font-size: 1.2rem;
  transition-duration: 0.3s;
}
td .fa.fa-trash {
  color: black;
}
td .fa.fa-edit:hover,
td .fa.fa-trash:hover {
  cursor: pointer;
  color: green;
}